a {
    display: inline-block;
    padding: 1em 3.5em;
    border-radius: 0.4em;
   // background-color: var(--color);
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to right, #FF5733, #FFC300);

  }