.skill-card {
  display: flex;
  height: 118px;
  flex-direction: column;
  border-radius: 7rem;
  box-shadow: 0 29px 38px -15px rgba(0, 0, 0, 0.43);
  width: 121px;
  align-items: center;
  }
  .skill-card-img {
    width: 100px;
    height: 100px;
  }
  .skills-heading{
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
  }
  /*.skill-card:nth-of-type(1) .skill-card-img {
    background-image: url(../../../public/icons/css3.png);
  
  }
  
  .skill-card:nth-of-type(2) .skill-card-img {
   background-image: url(../../../public/icons/html5.png);
  }
  
  .skill-card:nth-of-type(3) .skill-card-img {
    background-image: url(../../../public/icons/java.png);
   }
  
   .skill-card:nth-of-type(4) .skill-card-img {
    background-image: url(../../../public/icons/javascript.png);
   }
   .skill-card:nth-of-type(5) .skill-card-img {
    background-image: url(../../../public/icons/mysql.png);
   }
   .skill-card:nth-of-type(6) .skill-card-img {
    background-image: url(../../../public/icons/springboot.png);
   }
   .skill-card:nth-of-type(7) .skill-card-img {
    background-image: url(../../../public/icons/nodejs.png);
   }
   .skill-card:nth-of-type(8) .skill-card-img {
    background-image: url(../../../public/icons/React.png);
   }
   .skill-card:nth-of-type(9) .skill-card-img {
    background-image: url(../../../public/icons/aws.png);
   }
   .skill-card:nth-of-type(10) .skill-card-img {
    background-image: url(../../../public/icons/docker.png);
   }
   .skill-card:nth-of-type(11) .skill-card-img {
    background-image: url(../../../public/icons/github.png);
   }
   .skill-card:nth-of-type(12) .skill-card-img {
    background-image: url(../../../public/icons/jenkins.png);
   }
   .skill-card:nth-of-type(13) .skill-card-img {
    background-image: url(../../../public/icons/mysqlworkbench.png);
   }
   .skill-card:nth-of-type(14) .skill-card-img {
    background-image: url(../../../public/icons/thymeleaf.png);
   }
   .skill-card:nth-of-type(15) .skill-card-img {
    background-image: url(../../../public/icons/spring-security.png);
   }
   .skill-card:nth-of-type(16) .skill-card-img {
    background-image: url(../../../public/icons/IntelliJ_IDEA_Icon.svg.png);
   }
   .skill-card:nth-of-type(17) .skill-card-img {
    background-image: url(../../../public/icons/postman.png);
   }
   .skill-card:nth-of-type(18) .skill-card-img {
    background-image: url(../../../public/icons/RestApi.png);
   }
   .skill-card:nth-of-type(19) .skill-card-img {
    background-image: url(../../../public/icons/visualstudio.png);
   }*/