@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";

:root {
  --color: rgb(63 63 63);
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.parallax-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;

  /*background-image: url(https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);*/
  backdrop-filter: blur(10px);
  background-position: center;
  background-size: cover;
  row-gap: 4rem;

  text-align: center;
}

.buffer {
  width: 100%;
  min-height: 60vh;
  background-color: var(--color);
}

.parallax-container2 {
  flex-direction: row;
  flex-wrap: wrap;

  padding: 6rem 0;
  /*background-image: url(https://images.unsplash.com/photo-1585424536945-26663ea69d52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80);*/
  background-image: url(../public/images/first.jpg);
  gap: 1.6em;
}
.parallax-container {
  flex-direction: row;
  flex-wrap: wrap;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}

p {
  max-width: 52ch;
  padding: 1em;
  line-height: 1.5;
}

/*a {
  display: inline-block;
  padding: 1em 3.5em;
  border-radius: 0.3em;
  background-color: var(--color);
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}
*/
h3 {
  margin-top: 1em;
  font-size: 1.6rem;
  font-weight: 700;
}

.card {
  display: flex;
  max-width: 320px;
  flex-direction: column;
  align-items: center;

  padding-bottom: 1rem;
  border-radius: 0.5em;

  background-color: white;
  box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
}
.card {
  display: flex;
  max-width: 320px;
  flex-direction: column;
  align-items: center;

  padding-bottom: 1rem;
  border-radius: 0.5em;

  background-color: white;
  box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
}
.skill-card {
  display: flex;
  max-width: 320px;
  flex-direction: column;
  align-items: center;

  padding-bottom: 1rem;
  border-radius: 0.5em;

  box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
}
.card-img {
  width: 100%;
  height: 200px;
  border-radius: 0.3em;
  background-position: center;
  background-size: cover;
}

.card:nth-of-type(1) .card-img {
 background-image: url(../public/images/logo_with_caption.png);
}

.card:nth-of-type(2) .card-img {
 /* background-image: url(https://images.unsplash.com/photo-1522163182402-834f871fd851?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1606&q=80);*/
 /*background-image: url(../public/images/nodejs.jpg);*/
}

.card:nth-of-type(3) .card-img {
  /*background-image: url(https://images.unsplash.com/photo-1628746404106-4d3843b231b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2F2aW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60);*/
 /* background-image: url(../public/images/web.jpg);*/
}

.card:nth-of-type(4) .card-img {
  /*background-image: url(https://images.unsplash.com/photo-1496429862132-5ab36b6ae330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&q=80);*/
 /* background-image: url(../public/images/html.jpg);*/
}
.App {
  text-align: center;
}
.link{
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}
.hero{
  height: 600px;
  background-color: #707a8a;
}
.about{
  height: 600px;
  background-color: #707a8a;
}
.experience{
  height: 600px;
  background-color: #707a8a;
}.projects{
  height: 600px;
  background-color: #707a8a;
}
.skills{
  height: 600px;
  background-color: #707a8a;
}
.awards{
  height: 600px;
  background-color: #707a8a;
}
.education{
  height: 600px;
  background-color: #707a8a;
}
.contact{
  height: 600px;
  background-color: #707a8a;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  scroll-behavior: smooth;
}
.skill-card-img {
  width: 100%;
  height: 200px;
  border-radius: 0.3em;
  background-position: center;
  background-size: cover;
  min-width: 200px;

}

.skill-card:nth-of-type(1) .skill-card-img {
  background-image: url(../public/icons/css3.png);
  width: 10px;

}

.skill-card:nth-of-type(2) .skill-card-img {
 background-image: url(../public/icons/html5.png);
}

.skill-card:nth-of-type(3) .skill-card-img {
  background-image: url(../public/icons/java.png);
 }

 .skill-card:nth-of-type(4) .skill-card-img {
  background-image: url(../public/icons/javascript.png);
 }
 .skill-card:nth-of-type(5) .skill-card-img {
  background-image: url(../public/icons/mysql.png);
 }
 .skill-card:nth-of-type(6) .skill-card-img {
  background-image: url(../public/icons/springboot.png);
 }
 .skill-card:nth-of-type(7) .skill-card-img {
  background-image: url(../public/icons/nodejs.png);
 }
 .skill-card:nth-of-type(8) .skill-card-img {
  background-image: url(../public/icons/React.png);
 }
 .skill-card:nth-of-type(9) .skill-card-img {
  background-image: url(../public/icons/aws.png);
 }
 .skill-card:nth-of-type(10) .skill-card-img {
  background-image: url(../public/icons/docker.png);
 }
 .skill-card:nth-of-type(11) .skill-card-img {
  background-image: url(../public/icons/github.png);
 }
 .skill-card:nth-of-type(12) .skill-card-img {
  background-image: url(../public/icons/jenkins.png);
 }
 .skill-card:nth-of-type(13) .skill-card-img {
  background-image: url(../public/icons/mysqlworkbench.png);
 }
 .skill-card:nth-of-type(14) .skill-card-img {
  background-image: url(../public/icons/thymeleaf.png);
 }
 .skill-card:nth-of-type(15) .skill-card-img {
  background-image: url(../public/icons/spring-security.png);
 }
 .skill-card:nth-of-type(16) .skill-card-img {
  background-image: url(../public/icons/IntelliJ_IDEA_Icon.svg.png);
 }
 .skill-card:nth-of-type(17) .skill-card-img {
  background-image: url(../public/icons/postman.png);
 }
 .skill-card:nth-of-type(18) .skill-card-img {
  background-image: url(../public/icons/RestApi.png);
 }
 .skill-card:nth-of-type(19) .skill-card-img {
  background-image: url(../public/icons/visual\ studio.png);
 }
 .modal{
  width: 1000px;
  height: 500px;
  border: none;
  background:rgba(0,0,0,0.7);
  border-radius: 10px;
 }
 .close{
  background: url(../public/icons/cross.png);
  width:40px;
  height: 40px;
  border:none;
}
.close-div{
  text-align: right;
  margin: 0;
}
.content{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.about-me
{
  display: flex;
  flex-direction: row;
}
.parallax-container1{
  color: white;
}
#about-me{
  background: url(/public/images/creative-geometric-design-space_53876-89787.avif) no-repeat;
  
}